'scopeName': 'source.wiki'
'fileTypes': [
  'wiki',
  'md',
]
'name': 'Awiki'
'patterns': [
  # links
  {
    'match': '\\[\\[.*?]]'
    'name': 'string.other.link.wiki'
  },
  { "include": "source.gfm" }
]
